<div class="content" {{action 'toggleDetail'}}>
	<h3>{{repo.name}}</h3>
	<div class="detail owner">
	  <span>Owner:</span> {{repo.owner.login}}
	</div>
</div>
{{#if toggleVisibility}}
	<div class="content">
		<div class="detail descriptions">
		  <span>Description:</span> {{if repo.description repo.description "None"}}
		</div>
		<div class="detail language">
		  <span>Language:</span> {{if repo.language repo.language "None"}}
		</div>
	</div>
	<div class="extra content">
    <span class="detail followers">
      <i class="user icon"></i>
      {{repo.watchers}} Followers
    </span>
    <span class="detail url right floated">
		  <a href="{{repo.html_url}}" target="_blank">Link to Project</a>
		</span>
  </div>
{{/if}}